.chi-nh-nh-1,
.chi-nh-nh-1 * {
  box-sizing: border-box;
}
.chi-nh-nh-1 {
  background: #f4e0c7;
  height: 2268px;
  position: relative;
  overflow: hidden;
}
.chi-nh-nh-12 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: 77px;
}
.ch-ng-t-i-t-h-o-l-m-t-a-i-m-th-n-thi-n-v-i-gia-nh-ho-n-to-n-ph-h-p-cho-xe-l-n-v-c-y-ti-n-nghi-thay-ngay-trong-khu-n-vi-n-v-v-y-n-u-b-n-ang-t-m-ki-m-th-i-gian-d-nh-cho-gia-nh-th-gi-n-t-i-a-hay-ch-l-m-t-tr-i-nghi-m-c-o-v-th-v-th-kitty-caf-l-n-i-d-nh-cho-b-n-kitty-cafe-nottingham-hi-n-ch-c-th-kitty-cafe-c-ph-ph-c-l-i-ch-7-ng-i-l-n-v-5-tr-em-i-u-n-y-cho-ph-p-ch-ng-t-i-duy-tr-c-c-ti-u-chu-n-cao-v-ph-c-l-i-ng-v-t-cho-m-o-c-a-ch-ng-t-i-s-gi-y-ph-p-136453 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 250px;
  width: 668px;
}
.rectangle-117 {
  background: #f55a5a;
  border-radius: 50px;
  width: 180px;
  height: 60px;
  position: absolute;
  left: 41px;
  top: 896px;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.t-b-n {
  color: #000000;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  left: 73px;
  top: 906px;
}
.a-ch {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  left: 872px;
  top: 123px;
}
.gi-m-c-a {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  left: 868px;
  top: 362px;
}
.th-2-2-00-pm-to-9-30-pm-th-3-th-7-1-00-pm-to-9-30-pm-ch-nh-t-9-30-am-to-10-00-pm {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 868px;
  top: 445px;
  width: 515px;
}
.li-n-h {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  left: 869px;
  top: 636px;
}
._119-nguy-n-th-minh-khai-p-b-n-th-nh-q-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 869px;
  top: 200px;
  width: 420px;
}
.phone-0961898942-email-catfe-vn-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 864px;
  top: 719px;
  width: 576px;
}
.rectangle-119 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 1046.53px;
  transform-origin: 0 0;
  transform: rotate(-4deg) scale(1, 1);
}
.rectangle-118 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 23px;
  top: 1027px;
  object-fit: cover;
}
.rectangle-126 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 1447.53px;
  transform-origin: 0 0;
  transform: rotate(-4deg) scale(1, 1);
}
.rectangle-122 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 23px;
  top: 1426px;
  object-fit: cover;
}
.rectangle-127 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 1850.53px;
  transform-origin: 0 0;
  transform: rotate(-4deg) scale(1, 1);
}
.rectangle-120 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 23px;
  top: 1827px;
  object-fit: cover;
}
.rectangle-125 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 737.88px;
  top: 995px;
  transform-origin: 0 0;
  transform: rotate(4deg) scale(1, 1);
}
.rectangle-124 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 736px;
  top: 1023px;
  object-fit: cover;
}
.rectangle-128 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 735.88px;
  top: 1396px;
  transform-origin: 0 0;
  transform: rotate(4deg) scale(1, 1);
}
.rectangle-123 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 736px;
  top: 1426px;
  object-fit: cover;
}
.rectangle-129 {
  background: #62c0f5;
  border-radius: 30px;
  width: 710px;
  height: 328px;
  position: absolute;
  left: 737.88px;
  top: 1801px;
  transform-origin: 0 0;
  transform: rotate(4deg) scale(1, 1);
}
.rectangle-121 {
  border-radius: 30px;
  width: 690px;
  height: 315px;
  position: absolute;
  left: 736px;
  top: 1827px;
  object-fit: cover;
}
.location {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.body-location{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-location-left {
  width: 60%;
  margin-left: 20px;
}
.text-location-left > h3 {
  font-size: 50px;
  
}
.text-location-left > button {
  color: #fff;
  text-align: left;
  border-radius: 10px;
  border: none;
  margin-left: 600px;
  padding: 15px 32px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(158, 130, 108);
  text-decoration: none;
}
.text-location-right {
  width: 30%;
  margin-left: 50px;
}

.img-location{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
 
}
.img-location > img {
  width: 23.5%;
  margin: 11px;
padding: 10px;
}