.booking-page{
    margin-top: 80px;
    overflow-x: hidden;
}
.booking {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
}
.title > h1 {
font-size: 80px;
}
.booking-left{
    margin: 0px 20px;
}
.button-booking-left {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button-top {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.button-bottom{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.booking-right {
  background-color: bisque;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  font-size: 22px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #3e8e41;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
