.desktop-18,
.desktop-18 * {
  box-sizing: border-box;
}
.desktop-18 {
  background: #ffffff;
  height: 1137px;
  position: relative;
  overflow: hidden;
}
.healthicons-i-schedule-school-date-time {
  width: 29px;
  height: 31px;
  position: absolute;
  left: 1474px;
  top: 647px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  width: 75%;
  bottom: 12.5%;
  top: 12.5%;
  height: 75%;
  overflow: visible;
}
.teenyicons-down-solid {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 1.39%;
  left: 96.94%;
  width: 1.67%;
  bottom: 50.16%;
  top: 48.59%;
  height: 1.25%;
  overflow: visible;
}
.f-7-exclamationmark-circle {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 6px;
  top: 125px;
  overflow: visible;
}
.x {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 6px;
  top: 31px;
  overflow: visible;
}
.rectangle-105 {
  background: #7ba8ff;
  width: 240px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 20px;
}
.nh-p-m-booking {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 22px;
}
.rectangle-106 {
  background: #d9d9d9;
  width: 240px;
  height: 40px;
  position: absolute;
  left: 300px;
  top: 20px;
}
.t-o-phi-u-t-b-n {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 320px;
  top: 22px;
}
.rectangle-107 {
  background: #d9d9d9;
  width: 140px;
  height: 84px;
  position: absolute;
  left: 1400px;
  top: 0px;
}
.l-u {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1440px;
  top: 27px;
}
.ph-n-m-m-s-t-ng-t-o-phi-u-thu-t-ng-ng-v-i-s-ti-n-t-c-c {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 120px;
}
.t-n-kh-ch-h-ng {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 35px;
  top: 237px;
}
.t-n-kh-ch-h-ng2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 500px;
  top: 237px;
}
.div {
  color: #f92c2c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 227px;
}
.s-i-n-tho-i {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 337px;
}
.s-i-n-tho-i2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 337px;
}
.s-ti-n {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 447px;
}
.t-c-c {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 448px;
}
.ph-ng-th-c-thanh-to-n {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 38px;
  top: 548px;
}
.ph-ng-th-c-thanh-to-n2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 498px;
  top: 548px;
}
.th-i-gian {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 748px;
}
._0 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 851px;
}
.th-i-gian-ph-c-v {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 748px;
}
.s-ng-i {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 851px;
}
.div2 {
  color: #f92c2c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 141px;
  top: 843px;
}
.t-m-n {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 959px;
}
.t-m-n2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 959px;
}
.ghi-ch {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 1070px;
}
.ghi-ch2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 1070px;
}
.div3 {
  color: #f92c2c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 240px;
  top: 739px;
}
.line-35 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 84px;
  transform-origin: 0 0;
  transform: rotate(0.002deg) scale(1, 1);
}
.line-36 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 189px;
}
.line-37 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 293px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-38 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 398px;
}
.line-39 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 501px;
  transform-origin: 0 0;
  transform: rotate(0.04deg) scale(1, 1);
}
.line-40 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 606px;
}
.line-41 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 711px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-42 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 816px;
  transform-origin: 0 0;
  transform: rotate(-0.04deg) scale(1, 1);
}
.line-43 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 920px;
}
.div4 {
  color: #f92c2c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 189px;
  top: 322px;
}
.line-44 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 1029px;
  transform-origin: 0 0;
  transform: rotate(-0.121deg) scale(1, 1);
}
.ng-y {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 38px;
  top: 644px;
}
.div5 {
  color: #f92c2c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 98px;
  top: 635px;
}
.ng-y2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 499px;
  top: 643px;
}
