.main-footer {
    color: white;
    background-color: #004B00;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .list-unstyled > li > a{
    text-decoration: none;
    color: #fff;
  }