/* Admin.css */

/* Reset CSS */

.admin-page  {
  
  display: flex;
  flex-direction: column;
}

.body-admin{
  display: flex;
  flex-direction: row;
}
/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  background: rgba(113, 99, 186, 255);
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

/* Main Content */
.main--content {
  flex: 1;
  padding: 1rem;
  background: #ebe9e9;
  margin-top: 210px;
}

/* Header */
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header--title {
  color: rgba(113, 99, 186, 255);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.search--box input {
  background: transparent;
  padding: 10px;
}

.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.search--box i:hover {
  transform: scale(1.2);
}

/* Card Container */
.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main--title {
  color: rgba(113, 99, 186, 255);
  padding-bottom: 10px;
  font-size: 15px;
}

/* Tabular Wrapper */
.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(113, 99, 186, 255);
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: #fff;
}

tfoot {
  background: rgba(113, 99, 186, 255);
  font-weight: bold;
  color: #fff;
}

tfoot td {
  padding: 15px;
  color: #fff;
}

.table-container button {
  color: green;
  background: none;
  cursor: pointer;
}
/* 
const navigate = useNavigate();
  const userData = useUserData();
  const [selectedItem, setSelectedItem] = useState("");

  useEffect(() => {
    if (!userData || userData.roleName !== "Manager") {
      navigate("/");
    } else {
      navigate("/admin");
    }
  }, []); */