.home-page {
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.input-wrapper {
  background-color: white;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
input {
  background-color: transparent;
  border: none;
  height: 100%;
}
input:focus {
  outline: none;
}
.body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.location > img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 560px;
}
.location > h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.image-location > img {
  display: inline-block;
  width: 40%;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 30px;
}
.image-location:hover > img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.product > h3 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.product > img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.card-container {
  display: flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 1.5%;
  margin-top: 50px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.text-card {
  padding: 10px 16px;
}
.card > img {
  width: 100%;
  height: auto;
}
.img-boss {
  /* background-image: url("C:\Users\Admin\Desktop\Frontend\public\asset\nenanh.png"); */
  margin-top: 100px;
  width: 100%;
}
.title > h3 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
@keyframes scale {
  0% {
    transform: scale(1); /* Kích thước ban đầu */
  }
  50% {
    transform: scale(1.1); /* Kích thước lớn hơn */
  }
  100% {
    transform: scale(1); /* Kích thước trở lại bình thường */
  }
}
@keyframes flipHorizontal {
  0% {
    transform: scaleX(1); /* Không thay đổi */
  }
  50% {
    transform: scaleX(-1); /* Lật ngang */
  }
  100% {
    transform: scaleX(1); /* Trở lại bình thường */
  }
}
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg); /* Không quay */
  }
  100% {
    transform: rotate(360deg); /* Quay 360 độ theo chiều kim đồng hồ */
  }
}
.image-home-page > img {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: auto;
  display: inline-block;
  padding: 35px;
  animation: scale 2s infinite;
  
}
